<div class="row">
  <div class="col-8">
    <img src="{{product.image}}" alt="product photo" style="width: 90%">
  </div>
  <div class="col-4">
    <h5>{{product.name}}</h5>
    <p>${{product.price}}</p>
    <p>{{product.description}}</p>
    <form action="">
      <button type="submit" class="btn btn-primary">Add To Cart</button>
    </form>
  </div>
</div>