.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.a-custom {
  color: black;
}

.card {
  margin: 10px;
  width: 15rem;
}

.nav-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}


/*Right*/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
} 

.modal.right.fade .modal-dialog {
  right: -0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
}


/*MODAL STYLE*/
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}


#num {
  width: 30px;
  text-align:center;
}

.add-min-button {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.div-subtotal {
  padding-right: 120px;
}

.horizontal-left {
  float: left;
}

.trash {
  margin-top: -4px;
}

.list-group {
  margin-bottom: 20px;
}

.checkOut-btn {
  width: 200px;
  margin-top: 30px;
}

.alert {
  margin-bottom: 40px;
}

.nav-item {
  display: inline-block;
}

.custom-table-width {
  width: 800px;
}

.add-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#title {
  margin-bottom: 20px;
}

.card-custom {
  width: 300px;
  margin-right: 10px;
}

.table-custom {
  text-align: center;
}

#reset-btn {
  display: block;
}

.account {
  margin-top: 20px;
}