.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.a-custom {
  color: black;
}

.nav-page {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}


/*Right*/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 300px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
} 

.modal.right.fade .modal-dialog {
  right: -0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
}


/*MODAL STYLE*/
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

.modal-body {
  margin-top: 10px;
}

#num {
  width: 30px;
  text-align:center;
}

.add-min-button {
  margin-bottom: 20px;
}

.total {
  display: inline;
}

.picture, .payment, .favorite {
  display: inline-block;
}

/* right cart */
.cart {
  background-color: white;
  border: none;
  width: 14px;
}

.right-add-min-button {
  margin-top: 10px;
}

.cart-btn {
  background-color: white;
  border: none;
}

.trash-right {
  color: #7e4e50;
  position: relative;
  left: 90px;
  top: -28px;
}

.trash {
  margin-top: -2px;
  color: #7e4e50;
}

.admin-trash {
  margin-top: -6px;
  color: #7e4e50;
}

.icon {
  color: #7e4e50;
}

.div-subtotal {
  padding-right: 120px;
}

.thead-custom {
  background-color: #fce2e3; 
  color:#7e4e50;
}

.subtitle, .edit-btn {
  color:#7e4e50;
}


.trash-cart {
  margin-top: 4px;
  color: #7e4e50;
}

.edit-btn:hover, .trash:hover, .subtitle:hover, .trash-cart:hover, .trash-right:hover {
  color: #56cc9d;
}

.right-item {
  margin-bottom: 15px;
}

.list-group {
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
}

.nav-item {
  display: inline-block;
}

.add-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-product-card {
  width: 300px;
  margin-right: 10px;
}

.table-custom {
  text-align: center;
  margin-top: 20px;
}

#reset-btn {
  display: block;
}

.custom-btn {
  width: 200px;
  margin-top: 20px;
}

.order-btn {
  width: 200px;
  margin-bottom: 20px;
}

.beside-btn {
  margin-left: 10px;
  margin-right: 10px;
}

.add-category-input {
  display: inline-block;
  width: 250px;
  margin-top: 15px;
}

.category-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  display: inline-block;
}

.favorite-btn, .unfavorite-btn {
  margin-top: 10px;
}

.unfavorite-btn {
  display: inline-block;
}

.favorite-card {
  height: 120px;
}

.card {
  margin: 10px;
  width: 80%;
}

.nav-btn {
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column; 
}

.product-description {
  margin-top: 20px;
}

.photo {
  width: 100%;
}

.admin-photo {
  width: 100%;
  max-width: 200px;
}

.cart-photo {
  width: 150px;
}

.title {
  margin-bottom: 20px;
}

.products-page {
  padding-left: 12%;
  margin-top: 40px;
}

.alert-page {
  margin-top: 40px;
  padding-left: 10%;
  width: 90%;
}

@media screen and (min-width: 480px) {
  .card {
    width: 40%;
  }

  .modal.right .modal-dialog {
    width: 400px;
  }

  .custom-category-table {
    width: 400px;
  }

  .log-in, .register {
    width: 400px;
    margin: auto;
  }
}

@media screen and (min-width: 790px) {
  .list-information {
    width: 45%;
    float: left;
  }

  .list-detail {
    width: 45%;
    float: right;
    margin-top: 77px;
  }

  .clearfix {
    clear: both;
  }

  .product-photo {
    flex-basis: 90%;
   }
  
   .product-description {
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 0px;
   }
   
   section {
    display: flex;
    flex-flow: row nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 20%;
  }

  .custom-product-table {
    width: 1000px;
  }

  .new-product {
    width: 80%;
    margin: auto;
  }
  
  .products-page {
    padding-left: 13%;
  }
}
