.container {
  margin-top: 40px;
}

.nav-custom {
  display: inline;
  margin-right: 15px;
  border: none;
}

.a-custom {
  color: black;
}

.card {
  margin: 10px;
  width: 15rem;
}

.nav-bottom {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-right: 50px;
}


/*Right*/
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 400px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
        -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
} 

.modal.right.fade .modal-dialog {
  right: -0px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
}


/*MODAL STYLE*/
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}


#num {
  width: 30px;
  text-align:center;
}

.add-min-button {
  margin-bottom: 20px;
}

.inline {
  display: inline;
}

.subtotal {
  padding-right: 120px;
}

.horizontal-left {
  float: left;
}

.horizontal-right {
  float: right;
  margin-top: 4px;
  margin-right: 10px;
}

.fa-trash-alt {
  color: red;
}


